.footer-section{
   background-color: #fff;
   position: fixed;
   left: 0;
   bottom: 0;
   z-index: 996;
   transition: all 0.3s;
   padding: 10px 20px;
   box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
}