// /*--------------------------------------------------------------
// # Sidebar
// --------------------------------------------------------------*/
// .sidebar {
//    position: fixed;
//    top: 60px;
//    left: 0;
//    bottom: 0;
//    width: 300px;
//    z-index: 996;
//    transition: all 0.3s;
//    padding: 20px 5px 65px 5px;
//    overflow-y: auto;
//    scrollbar-width: thin;
//    scrollbar-color: #aab7cf transparent;
//    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
//    background-color: #fff;
// }
// .active {
//    color: #1fbeec !important;
//    background: #f6f9ff !important;
// }
// .active i {
//    color: #1fbeec !important;
// }
// .sidebar::-webkit-scrollbar {
//    width: 5px;
//    height: 8px;
//    background-color: #fff;
// }
// .sidebar::-webkit-scrollbar-thumb {
//    background-color: #aab7cf;
// }
// .sidebar-nav {
//    padding: 0;
//    margin: 0;
//    list-style: none;
// }
// .sidebar-nav li {
//    padding: 0;
//    margin: 0;
//    list-style: none;
// }
// .sidebar-nav .nav-item {
//    margin-bottom: 5px;
// }
// .sidebar-nav .nav-link {
//    display: flex;
//    align-items: center;
//    font-size: 17px;
//    font-weight: 600;
//    color: #22374f;
//    transition: 0.3;
//    background: #fff;
//    padding: 10px 10px;
//    border-radius: 4px;
// }
// .sidebar-nav .nav-link i {
//    font-size: 16px;
//    margin-right: 10px;
//    color: #22374f;
// }
// .sidebar-nav .nav-link:hover {
//    color: #1fbeec;
//    background: #f6f9ff;
// }
// .sidebar-nav .nav-link:hover i {
//    color: #1fbeec;
// }

// .sub-menu {
//    padding-left: 20px;
// }

// .sidebar .nav-item .nav-link i.menu-arrow::after {
//    display: inline-block;
//    content: "";
//    border-top: 0.4em solid;
//    border-right: 0.4em solid transparent;
//    border-bottom: 0;
//    border-left: 0.4em solid transparent;
// }

// .sidebar .nav-item .nav-link i.menu-arrow {
//    margin-left: auto !important;
// }


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
   color: white;
   background-color: #212529;
}
.nav-link{

   color: black;
}
