.owl-carousel-item {
   height: 90vh;
}

.owl-carousel-item img {
   display: block;
   width: 100%;
   height: 100%;
}

.no-products {
   text-align: center;
   font-size: 18px;
   color: #999;
}


.size-h5 {
   font-size: 1.25rem;
   margin-top: 0;
   margin-bottom: .5rem;
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   line-height: 1.2;
   color: #353535;
}

.team-item {
   height: 100%;
   background: #fff;
}

.team-img-wrapper {
   height: 325px;
   overflow: hidden;
}

.team-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

// .size-h1 {
//    display: block;
//    // font-size: 2em;
//    margin-block-start: 0.67em;
//    margin-block-end: 0.67em;
//    margin-inline-start: 0px;
//    margin-inline-end: 0px;
//    font-weight: bold;
//    unicode-bidi: isolate;
// }
/* Default fade */
.testimonial-carousel .owl-item {
   opacity: 0.3;
   transform: scale(0.9);
   transition: all 0.4s ease;
}

.testimonial-carousel .owl-item.active.center {
   opacity: 1;
   transform: scale(1);
}
.pointer-hend{
   cursor: pointer;
}